variable
normalDistributed
exponentialDistributed
set
mean
standardDerivation
median
variance
modalValue
minimum
maximum
ascending
descending
loadSet
saveSet
Terminal
readSet
json
email
singleDoc
table
customDistributed
sort
kurtosis
GUI
plot
histogram
scatterplot
loadImage
xml
