variable
normalDistributed
PoissonDistributed
customDistribution
set
mean
standardDerivation
median
variance
modalValue
minimum
maximum
kurtosis
sort
ascending
descending
email
singleDoc
loadSet
saveSet
GUI
Terminal
plot
histogram
table
scatterplot
loadImage
readSet
xml
json
